*{
	margin:0;
	padding:0;
}

body{
	text-align: center;
}

a{
	height: 500px;
    vertical-align: middle;
    line-height: 500px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background: #6679c1;
    margin: 15px;
    padding: 30px;
    border: 1px solid #39579a;
    border-radius: 5px;
    box-shadow: 0 0 5px #5971a5;
}

a:hover{
	  box-shadow: 0 0 15px #5971a5;
}