/* colors for background, text, etc. */
$gray-color:#f5f5f5;
$yellow-color:#bde22e;
$purple-color:#1da0ef;


$board-color-primary:#8f261b;
$board-route-background-primary:#21432d;
$board-background-primary:#21432d;
$board-background-secondary:#fff;


$board-font-primary:#4e694a;
$board-font-primary-reverse:#fff;

$board-icon-color-primary:#561d19;

$board-border-primary:#abb6b4;
$board-border-secondary:#b7e0d9;